DJANGO_SECRET="django-insecure-lu(vljv8s1!j)o*c(8g!a_x!f1-(y6&1%kshzb%tjy1r*69b*h"
DEBUG=TRUE
ALLOWED_HOSTS=*,

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=


FRONTEND_URL=http://loclahost:5173
